<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<security-role>
		<description></description>
		<role-name>admin</role-name>
	</security-role>
	
	<security-constraint>
		<display-name>Books Security</display-name>
		<web-resource-collection>
			<web-resource-name>Books</web-resource-name>
			<description></description>
			<url-pattern>/Contents/CH10_Contents/security01.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>권한 관리자명</description>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/Contents/CH10_Contents/login.jsp</form-login-page>
			<form-error-page>/Contents/CH10_Contents/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<error-page>
		<error-code>500</error-code>
		<location>/Contents/CH11_Contents/errorCode_error.jsp</location>
	</error-page>
</web-app>